*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  border: none;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  font-family: 'Poppin', sans-serif;
}
:root {
  --main-color: #d90429;
  --text-color: #020102;
  --bg-color: #fff;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../images/hero.jpg);
  background-position: center center;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;

}
.logo {
  width: 140px;
  cursor: pointer;
}
.nav-links li{
  display: inline-block;
  margin: 10px 30px;
  position: relative;
}

.nav-links li a {
  color: #fff;
}
.register-btn {
  background: #fff;
  color: #000;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
  margin: 0 10px;
}
.active {
  position: relative;
}
.active::after {
  content: "";
  background: #fff;
  width: 25px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  border-radius: 2px;
}
nav .fa-bars {
  display: none;
}
.container {
  padding: 0 7%;
}
.header h1 {
  font-size: 4vw;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 22%;
}

.search-bar {
  background: #fff;
  width: 70%;
  margin: 30px auto;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}
.search-bar form {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  position: relative;
  border-radius: 50px;
}
.search-bar input {
  display: block;
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: 14px;
}
.search-bar .search-btn {
  background: #ff5361;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 12px;
}

/******* Subtitles *****/
.subtitle {
  margin: 50px 0 20px;
  font-size: 2.2vw;
  font-weight: 500;
  color: #333;
}
.exclusives {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}
.exclusives a img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.exclusives a {
  position: relative;
}
.exclusives a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3), transparent);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  transition: .3s ease-in-out;
}
.exclusives a:hover span {
  background: transparent;
  color: transparent;
}


/***** Recent ******/
.autoparts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-bottom: 30px;
}
.autoparts a img {
  width: 100%;
  height: 300px;
  /*object-fit: cover;*/
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.autoparts h3 {
  font-weight: 600;
  margin-top: 10px;
  color: #333;
}

/****  CTA ******/
.cta {
  margin: 80px 0;
  background-image: linear-gradient(to right, #3f2321, transparent),url(../images/cta.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  padding: 5%;
  color: #fff;
}
.cta h3 {
  font-size: 4vw;
  line-height: 5.3vw;
  font-weight: 500;
}
.cta p {
  font-size: 18px;
  margin: 10px 0;
  letter-spacing: 1px;
}
.cta-btn {
  background: #ff5361;
  color: #fff;
  padding: 12px 30px;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
}

.stories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-bottom: 30px;
}
.stories a img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}
.stories a {
  position: relative;
  text-align: center;
}
.stories p {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #fff;
}
.view-more {
  background: #ff5361;
  color: #fff;
  padding: 15px;
  max-width: 350px;
  border-radius: 30px;
  font-size: 18px;
  margin: 60px auto;
  display: block;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

/**** About Us ****/
.about-msg {
  text-align: center;
  margin: 80px 0;
  color: #333;
  font-size: 17px;
}

.about-msg h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

/**** Footer ****/
footer{
  background: #111;
  height: auto;
  width: 100%;

  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.footer-bottom p{
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
  margin-bottom: 20px;
}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  border: 1.3px solid white;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
  white-space: nowrap;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}
/***** Listings Page ******/
.bg-white {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.bg-white .nav-links li a {
  color: #333;
}
.bg-white .register-btn {
  background: #ff5361;
  color: #fff;
}
.bg-white .fa-bars {
  color: #333;
}
.bg-white .active::after {
  background: #ff5361;
}
.list-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left-col {
  flex-basis: 70%;
}
.right-col {
  flex-basis: 25%;
}
.left-col h1 {
  color: #333;
  font-weight: 600;
  margin-bottom: 30px;
}
.vehicle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

.vehicle-img {
  flex-basis: 40%;
}
.vehicle-info {
  flex-basis: 58%;
  color: #555;
}
.vehicle-img img {
  width: 100%;
  border-radius: 12px;
}

.vehicle-info h3 {
  font-weight: 600;
  color: #333;
  font-size: 22px;
  margin: 4px 0;
}
.vehicle-info p.location {
  margin-top: 10px;
}

.vehicle-price {
  text-align: right;
}
.vehicle-price h4 {
  font-size: 20px;
}
.right-col .sidebar {
  border: 1px solid #999;
  padding: 20px 30px;
  margin-top: 30px;
}

.sidebar h2 {
  font-weight: 500;
}
.sidebar .heading {
  width: 100%;
  display: block;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  margin: 0;
}
.sidebar h3 {
  font-weight: 500;
  margin: 20px 0 10px;
}
.sidebar .filter {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #555;
}
.sidebar .filter p {
  flex: 1;
}

.sidebar .filter input {
  margin-right: 15px;
  cursor: pointer;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.pagination .fa-chevron-circle-left,
.pagination .fa-chevron-circle-right {
  font-size: 30px;
  color: #333;
  cursor: pointer;
}
.pagination span {
  margin: 10px 8px;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
}
.pagination span.active {
  background: #ff5361;
  color: #fff;
}

/**** Detail Page ****/
.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.card-wrapper img {
    width: 100%;
    display: block;
    border-radius: 12px;
    height: 400px;
  object-fit: cover;
}
.img-display {
  overflow: hidden;
}
.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
}
.img-select {
    display: flex;
}

.img-item {
  margin: .3rem;
  width: 25%;
}
.img-item img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: .8;
}

.product-content {
  padding: 2rem 1rem;
}
.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 4px;
  background: #ff5361;
}

.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 500;
}
.product-price p {
  font-weight: 600;
  color: #256eff;
  font-size: 18px;
}
.dealer-info h2,
.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: .6rem;
}

.dealer-info p,
.product-detail p {
  font-size: .9rem;
  padding: .3rem;
  opacity: .8;
}
.dealer-info ul,
.product-detail ul {
  margin: 1rem 0;
  font-size: .9rem;
}
.dealer-info {
  margin-top: 4rem;
}
.product-detail ul li {
  margin: 0;
  background: url(../images/check.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: .9;
  padding-bottom: .2rem;
}
.dealer-info ul li {
  margin: 0;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: .9;
  padding-bottom: .2rem;
}
.dealer-info ul li span,
.product-detail ul li span {
  font-weight: 400;
}
.social-links {
  display: flex;
  align-items: center;
}
.dealer-info .social-links {
  margin-top: 2rem;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  margin: 0 .2rem;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: .9rem;
  transition: all 0.5s ease;
}

.social-links a:hover {
  color: #ff5361;
  border-color: transparent;
  background: #000;
}
.fa-share-alt {
  font-size: 1.5rem;
  color: #ff5361;
  margin-right: 1rem;
}

.dealer-name{
  margin-top: 2rem;
}
.dealer-name h3 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #12263a;
}
.dealer-contact p {
  color: #12263a;
  margin: .5rem 0;
}
@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-content {
    padding-top: 0;
  }

}

@media screen and (max-width: 700px) {
  .logo {
    position: fixed;
    top: 4%;
    left: 7%;
    width: 80px;
  }
  nav {
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 100px 7% 0;
    background: #000;
    text-align: right;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav .nav-links li {
    margin: 20px 0;
    display: block;
  }
  .register-btn {
    margin: 15px 0 30px;
    display: inline-block;
  }
  nav .fa-bars {
    display: block;
    position: fixed;
    top: 4%;
    right: 7%;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
  }
  .active::after {
    left: -40px;
    transform: translate(0, -50%);
    bottom: 50%;
  }
  .hidemenu {
    max-height: 500px;
  }
  .header h1 {
    padding-top: 200px;
    font-size: 7vw;
  }
  .search-bar {
    width: 96%;
    margin: 30px auto;
  }
  .search-bar form input {
    width: 85%;
  }
  .subtitle {
    font-size: 6vw;
  }
  .cta {
    padding: 15% 5%;
  }
  .cta h3 {
    font-size: 7vw;
    line-height: 8vw;
  }
  .cta p {
    font-size: 14px;
  }
  .cta-btn {
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 4px;
    margin-top: 10px;
  }
  .stories p {
    font-size: 22px;
  }
  .about-msg {
    font-size: 15px;
  }

/**** Listing Page ****/
  .list-container {
    margin-top: 150px;
  }
  .left-col, .right-col, .vehicle-img, .vehicle-info {
    flex-basis: 100%;
  }
  .left-col h1 {
    font-size: 22px;
  }
  .vehicle-info h3 {
    font-size: 18px;
  }
  .pagination span {
    margin: 10px 2px;
    font-size: 12px;
  }
/******* Detail page ******/
  .card-wrapper{
    margin-top: 8rem;
  }
  .product-title {
    font-size: 1.8rem;
  }
  .img-item img {
    height: 150px;
  }
}
@media (max-width:500px) {
  .footer-menu ul{
    display: inline;

  }
  .footer-menu ul li{
    margin-bottom: 20px;
  }
}
